.burger {
  display: none;
}

.js .burger {
  @media (max-width: $screen-sm) {
    position: relative;
    z-index: 1;

    display: inline-block;

    margin: 0;
    padding: 0;
    width: 24px;
    height: 24px;

    line-height: 24px;

    cursor: pointer;
    user-select: none;

    border: none;
    background-color: transparent;
  }
}

.js .burger span {
  position: relative;

  display: inline-block;

  width: 100%;
  height: 2px;

  font-size: 0;

  transition: background 0.3s 0.3s;
  vertical-align: middle;

  color: transparent;
  background: $white-dark;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;

    width: 100%;
    height: 2px;

    transition: top 0.3s 0.3s, transform 0.3s;
    transform-origin: 50% 50%;

    background: $white-dark;
  }

  &::before {
    top: -6px;
  }

  &::after {
    top: 6px;
  }
}

.js .burger--close span {
  transition: background 0.3s 0s;

  background: transparent;

  &::before,
  &::after {
    top: 0;

    transition: top 0.3s, transform 0.3s 0.3s;

    background: $blue-dark;
  }

  &::before {
    transform: rotate3d(0, 0, 1, 45deg);
  }

  &::after {
    transform: rotate3d(0, 0, 1, -45deg);
  }
}
