.card {
  position: relative;

  display: flex;
  flex-direction: column;

  padding: 22px;
  padding-left: 30px;
  min-height: 386px;

  font-weight: 500;
  line-height: 1.5;

  cursor: pointer;

  color: $white-dark;

  @media (max-width: $screen-md) {
    padding-top: 29px;
    padding-bottom: 27px;
    padding-left: 33px;
  }

  @media (max-width: $screen-sm) {
    padding-top: 29px;
    padding-bottom: 17px;
    padding-left: 25px;
  }
}

.card h3 {
  margin: 0;
  margin-top: auto;
  padding: 0;

  font-size: 18px;
  font-weight: 500;

  color: $white-dark;
}

.card__img-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  @media (max-width: $screen-md) {
    width: 100%;
    max-width: 100%;
  }
}

.card__img-wrap img {
  width: 260px;
  height: 386px;

  @media (max-width: $screen-md) {
    width: 100%;

    font-family: "object-fit: cover"; /*stylelint-disable*/

    object-fit: cover;
    object-position: center;
  }
}

.card__description {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;

  padding: 70px 23px 35px 25px;
  width: 260px;
  height: 100%;

  font-size: 18px;

  transition: opacity 0.3s;

  opacity: 0;
  background-color: $blue-dark;

  @media (max-width: $screen-md) {
    padding: 70px 35px 35px;
    width: 100%;
  }

  @media (max-width: $screen-sm) {

    padding-left: 25px;
    padding-right: 25px;
    flex: 0 0 100%;

    max-width: 100%;
  }
}

.card__item h4 {
  margin: 0;
  padding: 0;

  font-size: 14px;
  font-weight: inherit;
  line-height: 1.4;
}

.card__item p {
  margin: 0;
  margin-bottom: 13px;
  padding: 0;

  font-size: 14px;
  font-weight: inherit;
  line-height: 1.44;
}

.card__item--price p {
  margin: 0;
}

.card__link {
  margin-top: auto;
  padding: 11px 5px 8px;
  width: 210px;

  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;

  color: $blue-dark;
  background-color: $white-dark;

  transition: opacity 0.3s;

  @media (max-width: $screen-md) {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }

  &:hover {
    opacity: 0.7;
  }
}

.card:hover h3 {
  z-index: 2;

  margin: 0;
}

.card:hover .card__description {
  opacity: 1;
  box-shadow: 0px 4px 35px rgba(1, 28, 64, 0.15);
}
