.description {
  padding-top: 120px;
  padding-bottom: 117px;

  @media (max-width: $screen-md) {
    padding-top: 91px;
    padding-bottom: 93px;
  }

  @media (max-width: $screen-sm) {
    padding-top: 58px;
    padding-bottom: 62px;
  }
}

.description__inner {
  margin: 0 auto;
  padding-right: 105px;
  padding-left: 105px;
  width: 100%;
  max-width: 1366px;

  @media (max-width: $screen-md) {
    padding-right: 45px;
    padding-left: 45px;
  }

  @media (max-width: $screen-sm) {
    display: block;

    padding-right: 15px;
    padding-left: 15px;
  }
}

.description__wrap {
  display: flex;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;

  @media (max-width: $screen-md) {
    max-width: 1050px;
  }

  @media (max-width: $screen-sm) {
    max-width: 100%;
  }
}

.description__text-block {
  padding-top: 55px;
  width: 512px;

  @media (max-width: 1295px) {
    margin-bottom: 50px;
    width: 90%;
  }

  @media (max-width: $screen-md) {
    margin: 0;
    padding: 0;
    width: 47.1%;
  }

  @media (max-width: $screen-sm) {
    margin-bottom: 24px;
    width: auto;
  }
}

.description__text-block h2 {
  margin-bottom: 25px;

  @media (max-width: $screen-md) {
    margin-bottom: 16px;
    padding-right: 100px;
  }
}

.description__text-block p {
  font-size: 16px;
  line-height: 1.5;
}

.description__img-wrap {
  margin-left: auto;

  @media (max-width: $screen-md) {
    margin-top: 9px;
    width: 324px;
  }

  @media (max-width: $screen-sm) {
    margin-right: auto;
    margin-left: auto;
    width: 290px;
  }
}

.description__img-wrap img {
  width: 560px;
  height: 301px;

  @media (max-width: $screen-md) {
    width: 324px;
    height: 264px;
  }

  @media (max-width: $screen-sm) {
    width: 290px;
    height: 186px;
  }
}
