.social {
  display: flex;
  flex-wrap: wrap;

  width: 151px;

  @media (max-width: $screen-md) {
    width: 115px;
  }

  @media (max-width: $screen-sm) {
    width: 116px;
  }
}

.social__item {
  margin-right: 10px;
  margin-left: 10px;

  @media (max-width: $screen-md) {
    margin-right: 6px;
    margin-left: 6px;
  }

  @media (max-width: $screen-sm) {
    margin-right: 16px;
    margin-left: 0;
  }

  &:hover {
    opacity: 0.7;
  }
}

.social__link {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px;

  cursor: pointer;

  @media (max-width: $screen-sm) {
    padding: 2px;
  }
}

.social__link svg {
  width: 20px;
  height: 20px;

  fill: $white-dark;

  @media (max-width: $screen-md) {
    width: 16px;
    height: 16px;
  }
}
