*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  word-break: break-word;
  font-family: $font-family;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  color: $blue-dark;
  background-color: $blue-dark; //временно
}
