@import "normalize";
@import "fonts";
@import "variables";
@import "scaffolding";
@import "global";

/* blocks
================================*/
@import "blocks/main-header";
@import "blocks/main-nav";
@import "blocks/burger";
@import "blocks/main-content";
@import "blocks/main-footer";
@import "blocks/footer-nav";
@import "blocks/social";
@import "blocks/intro";
@import "blocks/description";
@import "blocks/features";
@import "blocks/catalog";
@import "blocks/card";
