// Базовая типографика

$font-family: "montserrat", "Arial", sans-serif;

$font-size:                   14px;
$line-height:                 1.5;

// Семантические цвета

$white-dark:                  #f9fbfd;
$blue-dark:                   #011c40;

// Ширины

$screen-sm:                   767px;
$screen-md:                   1365px;
$screen-lg:                   1366px;

// Ретина

$retina-dpi:                  144dpi;
$retina-dppx:                 1.5dppx;
